p {
    color : black;
    font-family: Arial;
    font-size: 11;
}
p.diferentao{
    color: red;
    font-family: fantasy;
    font-size: 2;
}

#main{
    max-width: 600px;
    margin: 0 auto;
}